/* Colors */

$white: #FFF;

$blue-jeans-light: #5D9CEC;
$blue-jeans-dark: #4A89DC;

$aqua-light: #4FC1E9;
$aqua-dark: #3BAFDA;

$mint-light: #48CFAD;
$mint-dark: #37BC9B;

$turquoise-light: #36D7B7;

$grass-light: #A0D468;
$grass-dark: #8CC152;

$sunflower-light: #FFCE54;
$sunflower-dark: #F6BB42;

$bittersweet-light: #FC6E51;
$bittersweet-dark: #E9573F;

$grapefruit-light: #ED5565;
$grapefruit-dark: #DA4453;

$lavander-light: #AC92EC;
$lavander-dark: #967ADC;

$pink-rose-light: #EC87C0;
$pink-rose-dark: #D770AD;

$light-gray-light: #F5F7FA;
$light-gray-dark: #E6E9ED;

$medium-gray-light: #CCD1D9;
$medium-gray-dark: #AAB2BD;

$dark-gray-light: #656D78;
$dark-gray-dark: #434A54;