<div class="col-<%= default_grid_system %>-3 sidebar">
	<div class="panel panel-default">
		<div class="panel-heading">Панель управления</div>
		<div class="panel-body">
			<div class="sidebar">
				<ul class="nav nav-sidebar">
					<li><a href="#" class="active">Мой профиль</a></li>
					<li><a href="#">О банке</a></li>
					<li><a href="#">Пользователи</a></li>
					<li><a href="#">Отделения</a></li>
					<li><a href="#">Банкоматы</a></li>
					<li><a href="#">Продукты</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>